@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Light-Gray);
    min-height: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 30px;

}

.head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.head-section .main-title {
    font-size: 36px;
    font-weight: 200;
    color: var(--Grayish-Blue);
}

.head-section .second-title {
    font-size: 36px;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1rem;
}

.head-section p {
    max-width: 45%;
    text-align: center;
    color: var(--Grayish-Blue);
    margin-bottom: 60px;
}

.cards {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 25px;
}

.card {
    background-color: white;
    border-radius: 7px;
    padding: 2rem;
    text-align: right;
    box-shadow: 1px 7px 10px var(--Grayish-Blue);
}

.center {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card h3{
    text-align: left;
    color: var(--Very-Dark-Blue);
    margin-bottom: .5rem;
    font-size: 20px;
}

.card img {
    margin-top: 2rem;
}

.card p {
    color: var(--Grayish-Blue);
    font-weight: 400;
    text-align: left;
    font-size: 15px;
}


.card-1 {
    border-top: 4px solid var(--Cyan);

}

.card-2 {
    border-top: 4px solid var(--Red);
}

.card-3 {
    border-top: 4px solid var(--Orange);
}

.card-4 {
    border-top: 4px solid var(--Blue);
}

.card-1, .card-4 {
    align-self: center;
}

@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: 80%;
        justify-content: center;
    }

    
    
}